body {
    overflow: hidden;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.animated-gradient {
    background: linear-gradient(90deg, #00f, #800080);
    background-size: 300% 300%;
    animation: gradientMove 10s ease infinite;
}

.nq {
    margin-top: 50px;
    position: absolute;
    font-size: 30px;
    color: white;
    pointer-events: none;
}



#question-container {
    position: relative;
    z-index: 10;
}
